body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


h1 {
    padding: 15px;

}

#action {
    background-color: #eee;
    list-style: none;
    margin: 60px;
    padding: 15px;
}

#action li {
    display: flex;
    justify-content: flex-end;
    padding: 5px 0;
}

#action li label {
    flex: 1;
}

@media screen and (min-width:0px) and (max-width:499px) {
    #action li {
        flex-direction: column;
    }

    #action li input {
        flex: 3;
    }
}

@media screen and (min-width:500px) {
    #action li input {
        flex: 3;
    }
}

@media screen and (min-width:768px) {
    #action li input {
        flex: 4;
    }
}

@media screen and (min-width:992px) {
    #action li input {
        flex: 6;
    }
}

@media screen and (min-width:1200px) {
    #action li input {
        flex: 8;
    }
}